<section id="contacto">
	<div class="container">
<%= render 'form' %>
	</div>
</section>

<footer id="footer">
  <div class="col-sm-6 col-xs-12">
    <p>©2015 veloexpress. Todos los derechos reservados </p>
  </div>

  <div class="supchile">
    <img src="/assets/logo-start-up-chile.png" alt="SUP Chile">
  </div>

  <div class="col-sm-6 col-xs-12 social hidden">
    <a href="#" target="_blank"><i class="icon" data-icon="&#xe045;"></i></a>
    <a href="#" target="_blank"><i class='icon' data-icon="&#xe033;"></i></a>
    <a href="#" target="_blank"><i class='icon' data-icon="&#xe047;"></i></a>
    <a href="#" target="_blank"><i class='icon' data-icon="&#xe031;"></i></a>
  </div>

  <div class="clearfix"></div>
</footer>