<header id="header">
  <div class="container">

    <div class="logo col-sm-7">
      <img src="/assets/logo.png" alt="logo">

      <h1 class="col-md-8 col-md-offset-2">La forma inteligente y ecológica de realizar despachos en la gran ciudad.</h1>
      <div class="clearfix"></div>

      <a href="#formulario" class="btn btn-success btn-lg" id="btnGo">Quiero Saber M&aacute;s</a>

    </div>

    <div class="col-sm-5">
     <div class="imgheader col-sm-10 col-sm-offset-1 col-md-7 col-md-offset-2">


      <img src="/assets/iphone.png" class="iphone">


        <div id="innerCelu" class="carousel slide" data-ride="carousel">            
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="/assets/APP-VELOEXPRESS-1.jpg" alt="...">
            </div>

            <div class="item">
              <img src="/assets/APP-VELOEXPRESS-2.jpg" alt="...">
            </div>

            <div class="item">
              <img src="/assets/APP-VELOEXPRESS-3.jpg" alt="...">
            </div>
          </div>

        </div>

      </div>
        <%= link_to "Soy ciclista", soy_ciclista_path, class: "btn btn-success btn-lg ciclista", id: "btnGo"  %>
    </div>

  </div>
</header><!-- /header -->

<section id="contenido">
    <div class="container">

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 headerSeccion">   
        <h1>Entregas inteligentes en la ciudad</h1>
        <p>Despachamos productos durante el mismo día a tus clientes. Una red de ciclistas urbanos  y una app aseguran la inmediatez y eficiencia de tu entrega.</p>
      </div>

      <div class="col-sm-4 bloqueContenido2">
        <div class="imgContenido2">              
          <img src="/assets/icon-disponibilidad-trabajolibre.png" class="img-responsive">
        </div>
        <div class="txtContenido">
          <h1>Disponibilidad</h1>
          <p>Asegúrate de poder concretar las entregas de productos en el mismo día y en los horarios que decidas. Tus clientes no pueden esperar.</p>
        </div>

      </div>


      <div class="col-sm-4 bloqueContenido2">
        <div class="imgContenido2">              
          <img src="/assets/icon-confiabilidad.png" class="img-responsive">
        </div>
        <div class="txtContenido">
          <h1>Confiabilidad</h1>
          <p>Tus despachos con seguimiento en tiempo real a través de nuestra app. Una forma que asegura la entrega confiable de cada producto.</p>
        </div>

      </div>

        <div class="col-sm-4 bloqueContenido2">
          <div class="imgContenido2">
          <img src="/assets/icon-amigable-pasion.png" class="img-responsive">
        </div>
        <div class="txtContenido">
          <h1>Amigable</h1>
          <p>Somos un sistema que promueve el cuidado del miedo ambiente usando la bicicleta como medio de transporte para despachos de productos.</p>
        </div>
      </div>


    </div>

  </div><!-- /container -->

</section><!-- /contenido -->

<section class="client-speak">
    <div class="container">
      <div class="row">

        <div class="col-sm-8 col-sm-offset-2 headerSeccion">   
          <h1>Que dicen nuestros clientes?</h1>
        </div>

        <div class="col-md-6 bloqueContenido2">
          <div class="imgContenido2">              
            <img src="/assets/cupo_011.jpg" class="img-responsive">
          </div>
          <div class="txtContenido">
           <h2>Nicole Alter</h2>
           <h3>Jefa de Ventas en Cuponatic</h3>
            <p>"Asegúrate de poder concretar las entregas de productos en el mismo día y en los horarios que decidas. Tus clientes no pueden esperar."</p>
          </div>
        </div>


        <div class="col-md-6 bloqueContenido2">
          <div class="imgContenido2">              
            <img src="/assets/cupo_011.jpg" class="img-responsive">
          </div>
          <div class="txtContenido">
            <h2>Andres Tocornal</h2>
            <h3>Fundador de Moondo Baby&Kids</h3>
            <p>Tus despachos con seguimiento en tiempo real a través de nuestra app. Una forma que asegura la entrega confiable de cada producto.</p>
          </div>
        </div>

      </div>       
    </div>
</section>

<section id="contacto">
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

      <h1>Únete a la comunidad Velo Express. Una opción de entregas eficiente.</h1>

      <form id="formulario" action="//labs-magialiquid.us10.list-manage.com/subscribe/post?u=0d6808b098904ce51562ac78c&amp;id=b85ba48324" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>

        <div class="col-sm-8">
          <input type="email" name="EMAIL" id="email" placeholder="TU EMAIL" class="form-control">
        </div>
        <div class="col-sm-4">
          <input type="submit" name="submit" value="ENVIAR" class="btn btn-default">
        </div>

      </form>

    </div>
  </div>
</section>

<footer id="footer">
  
  <div class="col-sm-6 col-xs-12">
    <p>©2015 veloexpress. Todos los derechos reservados </p>
  </div>

  <div class="supchile">
    <img src="/assets/logo-start-up-chile.png" alt="SUP Chile">
  </div>

  <div class="col-sm-6 col-xs-12 social hidden">
    <a href="#" target="_blank"><i class="icon" data-icon="&#xe045;"></i></a>
    <a href="#" target="_blank"><i class='icon' data-icon="&#xe033;"></i></a>
    <a href="#" target="_blank"><i class='icon' data-icon="&#xe047;"></i></a>
    <a href="#" target="_blank"><i class='icon' data-icon="&#xe031;"></i></a>
  </div>

  <div class="clearfix"></div>

</footer>




