<div class="main-container"> 
    <div class="main wrapper clearfix">
        <article>
            <header>
                <h1>La forma inteligente de realizar despachos en la gran ciudad.</h1>
                <%= link_to "PROBAR AHORA!", "#", class: "button" %> <%= link_to "Soy Ciclista", soy_ciclista_path, class: "button" %>
                <p><a class="btn cta">PROBAR AHORA!</a> <a class="btn cta-menor">Soy Ciclista</a></p>
                <p>Asegúrate de poder concretar las entregas de productos en el mismo día y en los horarios que decidas.</p>
                <img src="/assets/app-callout-i5-landing.png">
            </header>
            <section>
                <h2>article section h2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
            </section>



            <footer>
                <h3>article footer h3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor.</p>
            </footer>
        </article>

        <aside>
            <h3>aside</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices.</p>
        </aside>
     </div>
</div> 



<div class="iconos-de-confianza">
    <section>
        <div class="iconos-header">
          <h2>¿Porque apostar por nosotros?</h2>
        </div>

        <div>
          <img src="/assets/icon-disponibilidad-trabajolibre.png">
          <h1>Disponibilidad</h1>
          <p>Asegúrate de poder concretar las entregas de productos en el mismo día y en los horarios que decidas. Tus clientes no pueden esperar.</p>
        </div>

        <div>
          <img src="/assets/icon-confiabilidad.png">
          <h1>Confiabilidad</h1>
          <p>Tus despachos con seguimiento en tiempo real a través de nuestra app. Una forma que asegura la entrega confiable de cada producto.</p>
        </div>

        <div>
          <img src="/assets/icon-amigable-pasion.png">
          <h1>Amigable</h1>
          <p>Somos un sistema que promueve el cuidado del miedo ambiente usando la bicicleta como medio de transporte para despachos de productos.</p>
        </div>
    </section>
</div>



<div class="quiero-usarlo">
  <section>
    <div>
      <h2>Te gustaria usar este servicio?</h2>
      <h2>Prueba un Envio Gratis!</h2>
      <p><%= link_to "Soy Persona", "http://localhost:3000/sender/sign_up", class: "button"  %></p>
      <p><%= link_to "Soy Empresa", "http://localhost:3000/sender/sign_up", class: "button"  %></p>
    </div>
  </section>
</div>














