<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">


    <!-- Set Up the App Icon -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/ico.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/ico.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/ico.png">
  <link rel="apple-touch-icon-precomposed" href="img/ico/ico.png">
  <link rel="icon" href="img/ico/favicon.ico">

  <link rel="apple-touch-startup-image" href="SPLASH-APP-VELOEXPRESS.png"media="(device-width : 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)">
  <link rel="apple-touch-startup-image" href="SPLASH-APP-VELOEXPRESS.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)">
  <link rel="apple-touch-startup-image" href="SPLASH-APP-VELOEXPRESS.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)">
  <link rel="apple-touch-startup-image" href="SPLASH-APP-VELOEXPRESS.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)">
    
    <title>Velo Express</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/metrize.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:300,400,700' rel='stylesheet' type='text/css'>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>    
  </head>
  <body>
    <a href="www.veloexpress.cl"><img src="img/logo_negro.png" alt="Logo Velo" style="display:block;"></a>
    <img src="img/parrilla_ciclista.png" alt="parrilla_ciclista">

  </body>
</html>