		<a href="www.veloexpress.cl"><img src="img/logo_negro.png" alt="Logo Velo" class="logo_negro"></a>
        
        <div id="faq">
          <h1 class="headerSeccion">Preguntas Frecuentes</h1>

          <h1>¿Qué necesito para trabajar como mensajero?</h1>
          <ul class="lista">
            <li>Smartphone con Internet Móvil</li>
            <li>Bicicleta Propia</li>
            <li>Cuenta Bancaria o Cuenta Rut</li>
          </ul>

          <h1>¿Es necesario tener algún equipamiento especial?</h1>
          <p>Lo mínimo es tener una mochila, alforja o canasto, pero el equipamiento depende exclusivamente de ti. Existen envíos pequeños, mediano y grandes y dependerá de que tan equipado estés para saber cuanto puedes cargar.</p>

          <h1>¿Cuánto tiempo debo trabajar cada día?</h1>
          <p>Esta oportunidad de trabajo es completamente libre, tu eres el que decide, día a día, si quieres hacer envíos y cuantos en envíos quieres hacer. De esta forma puedes acoplar esta actividad con tus tiempos libres en la Universidad, viajes de ida o vuelta de otro trabajo o simplemente días libres en que quieres pedalear y ganar dinero por ello.</p>
          
          <h1>¿Cuánto dinero puedo ganar?</h1>
          <p>La remuneración es variable y depende del peso, volumen y distancia del envío. Puedes ver una parrilla de precios y ejemplos de envíos <a href="parrilla_ciclista.html" style="color:green;">pinchando aca!</a></p>
        </div>
