<div class="terms">

	<h2>TÉRMINOS Y CONDICIONES VELO EXPRESS</h2>

	<h3>INTRODUCCION</h3>

	<p>El presente documento establece las “condiciones generales” aplicables para los usuarios de la aplicación “VELO EXPRESS”, ya sea que ésta sea utilizada a través de su página web www.veloexpress.cl o mediante la aplicación del software para teléfono móvil (app) “velo express”.</p>

	<p>El usuario manifiesta expresamente que acepta todos los términos establecidos por VELO EXPRESS para acceder y utilizar los servicios de esta aplicación.</p>

	<p>En caso que el usuario no esté de acuerdo con los términos y condiciones del uso del sistema y las políticas de privacidad o de pago de VELO EXPRESS, no instale la aplicación, bórrela y/o no realice ningún uso de ella ni de la página web.</p>

	<h3>¿QUE ES VELO EXPRESS?.</h3>

	<p>VELO EXPRESS es una plataforma electrónica para teléfonos móviles, que tiene como objetivo proveer de un servicio de despacho a todas las personas que compran productos especialmente a través de internet.</p> 

	<p>VELO EXPRESS tiene por objeto satisfacer la necesidad de despecho de un producto adquirido por una persona con la voluntad de otra, en este caso el usuario, de realizar esta acción por una suma de dinero, la cual es pagada por el comprador. El servicio de despacho podrá ser efectuado por el usuario de esta aplicación, pues a través de ésta tendrá acceso a los diversos requerimientos que estén disponibles al momento de su ingreso.</p> 

	<h3>DEFINICIONES.</h3>

	<p>Para los efectos de la presente regulación, se entenderá por:</p>

	<p>“Usuario”: La persona natural que utiliza, por cualquier medio, los servicios que otorga VELO EXPRESS.
	“Destinatario” o “Comprador”: Persona natural o jurídica a la cual se debe entregar el producto adquirido a través de internet.</p>
	<p>“Punto de recogida”: Lugar físico en el cual el usuario debe retirar el producto a transportar. 
	 “Objeto” o “Producto”: Objeto que tiene que transportar el usuario desde el Punto de recogida hacia el destinatario.</p>
	<p>“VELO EXPRESS”: La plataforma electrónica que informa al usuario de los productos que se encuentran disponibles para su despacho.</p>

	<h3>REGISTRO Y USO DEL SISTEMA.</h3>

	<p>El usuario certifica y declara expresa e irrevocablemente que está usando el servicio por su propia voluntad y reconoce y acepta las responsabilidades y riesgos por usar la presente aplicación.</p>

	<p>Para que el usuario pueda utilizar los servicios que otorga esta aplicación, deberá registrarse a través del mecanismo electrónico establecido para tal efecto, debiendo entregar toda la información que le sea requerida. Además, en este proceso el usuario acepta proveer la información exacta, completa y actualizada que se requiera, no teniendo VELO EXPRESS la obligación de supervisar o controlar la información proporcionada. La entrega de esta información supone el conocimiento y aceptación de todas y cada una de las cláusulas contenidas en estos términos y condiciones.</p>  

	<p>Solo podrán hacer uso de esta aplicación las personas que cuenten con la capacidad legal necesaria. Las personas que no cuenten con esta capacidad, entre ellos los menores de edad, deberán ser asistidas por sus representantes legales.</p>

	<p>El usuario acepta que para registrarse deberá pasar una evaluación con el fin de ser aceptado en VELO EXPRESS, quien puede rehusarse o cancelar la cuenta del usuario en cualquier momento, sin expresión de causa.</p> 
	 <p>Asimismo, VELO EXPRESS se reserva el derecho de usar cualquier acción legal posible para identificar al usuario, así como requerir, en cualquier momento, documentación extra que se considere apropiada para verificar la información personal del usuario. El usuario autoriza en este acto a VELO EXPRESS para poder requerir información relativa a su persona que se encuentre en poder de terceros.</p>

	<p>VELO EXPRESS no se responsabiliza por cualquier daño como resultado de la pérdida o mal uso de la clave de acceso a esta aplicación por parte de terceros, por lo que el usuario es el único responsable por ello.</p>

	<p>No se puede transferir, por ningún motivo, el registro del usuario a terceras personas.</p>

	<h3>LIMITACIONES DE RESPONSABILIDAD.</h3>

	<<h3>Relaciones</h3>

	<h4>Naturaleza de la relación.</h4>

	<p>Los términos de uso no generan ninguna sociedad, franquicia o relación laboral entre el usuario y VELO EXPRESS. En este mismo sentido, VELO EXPRESS no constituye más que un medio a través del cual tanto comprador como usuario toman conocimiento de las necesidades de cada uno de ellos.</p>

	<h4>De la aceptación y del despacho en particular.</h4>

	<p>En caso que el usuario decida realizar alguno de los despachos que se encuentren disponibles en la aplicación, se obligará para con el comprador a retirar el producto desde el punto de recogida que indique esta aplicación y a transportarlo hacia el destinatario final, lo antes posible.</p>

	<p>Además, el usuario, al aceptar realizar el despacho, se obliga a efectuar todas las gestiones de registro tanto de recepción y de entrega del producto a transportar.</p>

	<p>En caso que no sea posible realizar el encargo, el usuario deberá devolverlo hacia su lugar de origen y reportar esta circunstancia en la aplicación.</p>

	<p>VELO EXPRESS, en ningún caso, asegura un mínimo de despachos al mes para el Usuario.</p>

	<p>El usuario podrá realizar los despachos que estime conveniente, en el horario que más le acomode. Sin embargo, el despacho deberá ser realizado por el usuario hasta antes de las 20:30 hrs. del día en que decidió realizar el despacho. En caso que no haya podido realizar el despacho por cualquiera causa, deberá devolverlo hacia su lugar de origen antes de la hora antes indicada.</p>

	<p>El despacho no podrá ser realizado por ninguna otra persona más que por el usuario que ha aceptado realizar tal gestión. En consecuencia, la gestión del despacho será indelegable.</p>

	<p>Para realizar el despacho, el Usuario podrá movilizarse en cualquier medio de transporte. Se deja expresa constancia que, en ningún momento, VELO EXPRESS proveerá de un medio de transporte al Usuario para que éste realice el despacho que ha aceptado realizar. </p>

	<p>No obstante lo señalado en el párrafo anterior, VELO EXPRESS tiene como objetivo incentivar el uso de medios de transportes ecológicos en especial: bicicletas, por lo que, en la medida de sus posibilidades, el usuario deberá realizar los despachos a través de este tipo de medios.</p>

	<h4>De la pérdida, hurto, robo o deterioro del Producto.</h4>

	<p>El usuario asumirá la responsabilidad en caso de que el producto que debe transportar sea perdido, hurtado, robado o se deteriore en el trayecto, por lo que se obliga irrevocablemente a compensar al comprador por el precio del producto que le haya correspondido transportar, más los eventuales perjuicios que esto acarree. El monto que deba pagar por este concepto deberá ser entregado a VELO EXPRESS, quien, a su vez, se encargará de enviar el dinero al comprador del producto.</p>

	<p>El usuario, en ningún momento, podrá abrir, violar o corromper los envoltorios que protejan el producto a transportar. En caso de que así sea, también se obliga a compensar al comprador por el por el precio del producto que le haya correspondido transportar, más los eventuales perjuicios que esto acarree. El monto que deba pagar por este concepto deberá ser entregado a VELO EXPRESS, quien, a su vez, se encargará de enviar el dinero al comprador del producto.</p>

	<p>El Usuario responderá por el incumplimiento de estas dos estipulaciones hasta por culpa levísima.</p>

	<h4>De los accidentes que sufra el Usuario en el despacho.</h4>

	<p>En ningún caso el comprador o VELO EXPRESS asumirán alguna responsabilidad para con el usuario en caso de que éste sufra un accidente antes, durante o después de que se efectúe el despacho que se debe realizar.</p>

	<p>En caso de que el usuario desee realizar el despacho a través de medios ecológicos, tales como bicicletas, motocicleta, taxi, etc. se compromete a utilizar todos los implementos de seguridad necesarios para proteger su seguridad.</p>

	<h4>Del procedimiento de recepción del producto.</h4>

	<p>El usuario se compromete a cumplir estrictamente con el procedimiento de recepción de producto, el cual se detalla a continuación:</p>

	<p>Deberá concurrir hacia el punto de recogida del producto.
	Deberá escanear el código QR que está asociado el producto que debe transportar, el cual le será entregado por la persona que tenga el producto.</p>

	<p>VELO EXPRESS, no tendrá ninguna responsabilidad por la cancelación del despacho del producto para con el usuario.</p>

	<h4>Del procedimiento de entrega del producto.</h4>

	El usuario se compromete a cumplir estrictamente con el procedimiento de entrega de productos, el cual se detalla a continuación:</p>

	<p>Concurrir hacia la dirección en la cual se debe entregar el producto a despachar.
	Registrar la entrega efectiva del producto a una persona, que puede ser o no el comprador. Para estos efectos, el usuario deberá realizar, en orden preferente, una de estas tres opciones:
	Fotografiar a través del medio que otorgar la aplicación la cédula de identidad de la persona que recibe el producto.</p>
	<p>Fotografiar a través del medio que otorgar la aplicación a la persona que recibe el producto, procurando que en dicho registro figure el rostro de la persona que recibe el producto. Además, deberá registrar el nombre de la persona.</p>
	<p>Solicitar que la persona que recibe el producto, escriba en un papel, de puño y letra, su nombre, rut y firma. Luego, deberá fotografiar dicha información a través del medio que le ofrece la aplicación, para enviarla a través de la aplicación.</p>
	<p>Deberá informar al destinatario que VELO EXPRESS le enviara un correo electrónico para verificar la entrega satisfactoria del producto</p>

	<h4>De los términos de pago.</h4>

	1.7.1. Del pago.</h5>

	<p>Por cada despacho que efectúe satisfactoriamente el usuario, tendrá derecho a percibir la suma de dinero que haya estado disponible a pagar el comprador. Para estos efectos, se entenderá que el usuario ha realizado satisfactoriamente un despacho, cuando haya cumplido con todos los protocolos establecidos por VELO EXPRESS, tales como: procedimientos de entrega y de recepción, tiempo de entrega, condiciones de seguridad, etc., así como de toda la regulación presente y futura que incorpore VELO EXPRESS.</hp>

	<h5>1.7.2. Del monto.</h5>

	<P>El monto al que tendrá derecho a percibir el usuario será informado antes de que acepte o escoja realizar un despacho. Este monto aparecerá en la pantalla respectiva de la aplicación. </p>

	<p>El monto será variable según sea el despacho que se deba realizar, y su tarifa será fijada según lo que el comprador haya estado dispuesto a pagar por ese despacho. </p>

	<h5>1.7.3. Condiciones para el pago.</h5>

	<p>VELO EXPRESS se obliga para con el usuario entregarle el dinero que decidió pagar el comprador a través de internet. Para que VELO EXPRESS pueda entregar este dinero al usuario, serán condiciones esenciales las siguientes:</p>

	<p>Que el usuario mantenga su información actualizada en la aplicación VELO EXPRESS.
	Que el usuario acepte íntegramente todos los términos y condiciones regulados en esta política.
	Que el usuario realice satisfactoriamente los despachos que ha aceptado realizar.
	Que el usuario haya registrado todos sus datos de necesarios para que VELO EXPRESS pueda remesar el dinero correspondiente.
	Que el usurio haya efectuado el despacho antes de las 20:00hrs. del día en que decidió realizar el despacho. </p>

	<h5>1.7.4. Fecha de entrega de dinero.</h5>

	<p>VELO EXPRESS entregará al usuario el dinero pagado por el comprador, a más tardar, el día 30 del mes en que realizó tal gestión. </p>

	<h5>1.7.5. De la forma de entrega del dinero.</h5>

	<p>Los montos que le corresponde percibir al usuario por cada despacho serán depositados en su cuenta bancaria que registre en la aplicación. VELO EXPRESS se reserva el derecho de entregar el dinero al usuario por los despachos realizados mediante otro medio de pago que no sea el depósito electrónico.</p>

	<h5>1.7.6. Compensación.</h5>

	<p>VELO EXPRESS se reserva el derecho de compensar con los pagos que deba efectuar al usuario, el monto de los productos que le correspondía realizar y que no efectuó por cualquiera causa.</p>

	<h5>1.7.7. Del costo de uso de la aplicación.</h5>

	<p>VELO EXPRESS la descarga de esta aplicación así como el registro del usuario en ésta serán gratuitos. Sin embargo, VELO EXPRESS cobrará al usuario una suma de dinero por cada despacho que haya sido realizado satisfactoriamente y que le haya dado derecho a percibir el monto que el comprador estuvo dispuesto a pagar por su gestión.</p>

	<p>Para estos efectos, el usuario otorga un mandato irrevocable a VELO EXPRESS para que ésta descuente o compense del dinero que le corresponde entregarle por los despachos realizados el monto a cobrar por el uso de esta aplicación.</p>

	<h4>DISPONIBILIDAD E INCONSISTENCIA EN EL SISTEMA.</h4>

	<p>VELO EXPRESS no garantiza que el sistema esté disponible sin interrupciones y que siempre esté libre de errores, y por tanto, no se responsabiliza por el daño que esto pueda causar a los Usuarios. </p>

	<p>El usuario acepta que VELO EXPRESS tampoco se responsabiliza por cualquier daño o pérdida causada a tu computadora y/o teléfono celular, como resultado de usar la página web o la aplicación. 
	 VELO EXPRESS no se responsabiliza por cualquier error y/u inconsistencia de información con otros sistemas independientes, como el GPS, el radar y similares.</p>

	<h4>COMPENSACIÓN POR DAÑOS.</h4>

	<p>El usuario se compromete a indemnizar a VELO EXPRESS y sus representantes de cualquier reclamo, demandas, pérdidas, responsabilidades, daños y costos, incluyendo los honorarios de los abogados y los costos judiciales que se incurran por el daño.</p>

	<h4>POLITICA DE PRIVACIDAD.</h4>

	<p>La información personal solicitada tiene como finalidad corroborar la identidad del Usuario, así como optimizar la información presentada en esta aplicación.</p>

	<p>Esta información no será en ningún caso entregada a terceros, salvo empresas relacionadas con VELO EXPRESS o prestadoras de servicios de la empresa.</p>

	<p>En caso de entregar dicha información a empresas proveedoras de bienes y servicios, dicha información será entregada solo con este fin.</p>

	<p>VELO EXPRESS podrá utilizar la información registrada en la aplicación para el envío de información o promociones de servicios y productos tanto de VELO EXPRESS como de terceros.</p>

	<p>El usuario podrá solicitar en cualquier momento el cese de envío de dichos correos electrónicos.</p>

	<p>VELO EXPRESS  implementa medidas de seguridad adecuadas para salvaguardar y ayudar a prevenir el acceso no autorizado, modificación, divulgación no autorizada o la retiro sin autorización de cualquier información recolectada. En todo caso, VELO EXPRESS no será responsable de ninguna pérdida de datos del Usuario, como resultado de buena fe, por fuerza mayor que se produjo a causa de las invasiones al Sitio Web y violación de la seguridad de terceros no autorizados.</p>

	<h4>REGISTRO DE LA ACTIVIDAD DEL USUARIO MEDIANTE MECANISMOS AUTOMÁTICOS.</h4>

	<p>VELO EXPRESS podrá registrar toda la actividad del usuario de modo de analizar y optimizar el uso de la aplicación. Dicho registro podrá contener tanto información personal como del acceso a la información (incluidos: dirección IP, cookies y cualquier otra tecnología para dicho registro.).</p>

	<p>VELO EXPRESS se reserva el derecho de hacer uso comercial de ésta información. En ningún caso esta información será vendida, arrendada o entregada a terceros.</p>

	<h4>RESTRICCIONES.</h4>

	<p>VELO EXPRESS podrá notificar, suspender o cancelar, temporal o permanentemente, la cuenta de cualquier usuario en cualquier momento, y tomar acciones legales si: (i) viola cualquiera de las representaciones, garantías y obligaciones contenidas en estas Condiciones de Uso o cualquier política o regla adyacente a la misma, (ii) las prácticas engañosas o fraudulentas, o (iii) VELO EXPRESS concluye que las actividades y actitudes han causado o pueden causar todos los daños a los demás o al equipo de VELO EXPRESS. El Usuario no tendrá derecho a ninguna indemnización o compensación por la cancelación o suspensión de su cuenta en el sistema.</p>

	<h4>LICENCIA.</h4>

	<p>VELO EXPRESS otorga al usuario una licencia limitada, personal, no exclusiva, intransferible, no comercial y totalmente revocable para utilizar esta aplicación en el teléfono móvil o el ordenador, en conformidad y por acuerdo de los términos contenidos en este documento. VELO EXPRESS  se reserva todos los derechos sobre el Sitio Web o la aplicación no expresamente concedidos aquí.</p>

	<p>VELO EXPRESS  no se hace responsable de ningún daño sufrido por el Usuario que realiza una copia, transferencia, distribución o uso de cualquier contenido del Sitio Web o de la aplicación protegido, violando los derechos de los demás.</p>

	<h4>PROPIEDAD INTELECTUAL E INDUSTRIAL.</h4>

	<p>El contenido, organización, gráficas, diseño, compilación y otros aspectos de la aplicación o del sitio web se encuentran protegidos por leyes de Propiedad Intelectual. Su copia, redistribución, uso o publicación, total o parcial, está prohibida por la ley. La publicación o transmisión de información o documentos de la aplicación, de Velo Express o del Sitio Web, no constituye una renuncia de cualquier derecho relacionado con tales documentos o información. Velo Express hace expresa reserva del ejercicio de todas las acciones tanto civiles como penales destinadas al resguardo de sus legítimos derechos de propiedad intelectual e industrial.</p>

	<h4>CONDICIONES GENERALES.</h4>

	<p>Los términos pueden cambiar por VELO EXPRESS  en cualquier momento. Los cambios serán obligatorios automáticamente en la fecha de publicación de la nueva versión en la página web y en la aplicación. Tanto la aplicación, como estos términos y condiciones y las políticas de privacidad podrán ser actualizados sin previo aviso, por lo que el Usuario deberá revisar el contenido periódicamente y en caso de no estar de acuerdo deberá eliminar esta aplicación. </p>

	<p>Estos Términos y Condiciones se rigen por las leyes de la República de Chile, siendo sus tribunales ordinarios los llamados a dirimir cualquier controversia, interpretación, alcance o cumplimiento de los presente Términos y Condiciones.</p>

	<p>Al registrarse en el sistema, el Usuario aceptar los términos, haciendo clic en la opción “Acepto los términos de uso”, el Usuario declara automáticamente y se compromete a cumplir con estos términos y todas las demás políticas y normas disponibles en el sistema.</p>

</div>

