/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .

 */

@import "bourbon"; // or "bourbon" when in Rails
@import "../../../base/base"; // or "neat" whenaaa in Rails
@import "neat"; // or "neat" when in Rails



$primary-font: 'LaskiSlab-Regular', 'Georgia', 'Times', serif;
$secondary-font: 'BlocC', 'Impact', 'Arial Black', sans-serif;
$titles-font: 'LaskiSlab-ExtraLight', 'Georgia', 'Times', serif;
$negritas-font: 'LaskiSlab-Bold', 'Georgia', 'Times', serif;
$mobile: new-breakpoint(max-width 767px 4);
$velo-negro: #171717;
$velo-gris: #dcdee3;

@font-face {
  font-family: 'BlocC';
  src: url('pt-bloc-cyrillic.eot'); /* IE9 Compat Modes */
  src: url('pt-bloc-cyrillic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('pt-bloc-cyrillic.woff2') format('woff2'), /* Modern Browsers */
    url('pt-bloc-cyrillic.woff') format('woff'), /* Modern Browsers */
    url('pt-bloc-cyrillic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('pt-bloc-cyrillic.svg') format('svg'); /* Legacy iOS */  weight: normal;
  style: normal;
}

@font-face {
  font-family: 'LaskiSlab-Regular';
  src: url('LaskiSlab-Regular.eot'); /* IE9 Compat Modes */
  src: url('LaskiSlab-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('LaskiSlab-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('LaskiSlab-Regular.woff') format('woff'), /* Modern Browsers */
    url('LaskiSlab-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('LaskiSlab-Regular.svg') format('svg'); /* Legacy iOS */  weight: 400;
  style: normal;
}

@font-face {
  font-family: 'LaskiSlab-ExtraLight';
  src: url('LaskiSlab-ExtraLight.eot'); /* IE9 Compat Modes */
  src: url('LaskiSlab-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('LaskiSlab-ExtraLight.woff2') format('woff2'), /* Modern Browsers */
    url('LaskiSlab-ExtraLight.woff') format('woff'), /* Modern Browsers */
    url('LaskiSlab-ExtraLight.ttf') format('truetype'), /* Safari, Android, iOS */
    url('LaskiSlab-ExtraLight.svg') format('svg'); /* Legacy iOS */  weight: 200;
  style: normal;
}

@font-face {
  font-family: 'LaskiSlab-Bold';
  src: url('LaskiSlab-Bold.eot'); /* IE9 Compat Modes */
  src: url('LaskiSlab-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('LaskiSlab-Bold.woff2') format('woff2'), /* Modern Browsers */
    url('LaskiSlab-Bold.woff') format('woff'), /* Modern Browsers */
    url('LaskiSlab-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('LaskiSlab-Bold.svg') format('svg'); /* Legacy iOS */  weight: 600;
  style: normal;
}


body {
 	font-family: $primary-font;
 	font-size: golden-ratio(16px, 0);
	font-weight: 400;
    background: -moz-linear-gradient(90deg, rgba(64,131,40,1) 0%, rgba(14,60,14,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(14,60,14,1)), color-stop(100%, rgba(64,131,40,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(64,131,40,1) 0%, rgba(14,60,14,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(64,131,40,1) 0%, rgba(14,60,14,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(64,131,40,1) 0%, rgba(14,60,14,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(64,131,40,1) 0%, rgba(14,60,14,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0E3C0E', endColorstr='#408328',GradientType=0 ); /* ie6-9 */
 }


h1 {
 	font-family: $titles-font;
 }

h2 {
    font-family: $negritas-font;
}

h3,h4,h5 {
	font-family: $secondary-font;
	letter-spacing:0.0525em;
    color: black;
}

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: rgba(255, 255, 255, 0.99);
    font-size: 1em;
    line-height: 1.4;

}



.button {
    @include button(pill);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* =====         ======== */

body {
    font: 16px/26px 'LaskiSlab-Regular', Helvetica, Helvetica Neue, Arial;
}

a {
  color: green;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    VELOEXPRESS BASIC THEME
   =================== */

.main-container {

    article {
        header{
            @include outer-container;

            div {
                @include span-columns(6);

                margin-top: 10%;
            }

            img {
                @include span-columns(6);

                width: 25%;

            }
        }
    }
}


.header-container,
.footer-container,
.main aside {
    background: transparent;
}

.main-anchor img {
    width: 180px;
    margin: 1.3em 0;
}

.iconos-de-confianza {
    background: #ecf0f1;
    width: 100%;

        section {
            @include outer-container;

            div {
                /* Porque este no necesita @include omega(3n)???? */
                @include span-columns(4);

                text-align: center;
                padding: 3em 3em;

                h2 {
                    color: green;
                    font-size: 3em;
                    padding: 0.5em 0;
                }

                h1, p {
                    color: grey;
                }
            }

            img {
                max-width: 60%;
            }

            div.iconos-header{
                @include span-columns(8);
                @include shift(2);
                padding-top: 2em;
                padding-bottom: 0;
                text-align: center;
            }
        }
}

.faq-index {
    background: #ecf0f1;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    margin-top: -60px;

    article{

        @include outer-container;

        section {
            @include span-columns(6);
            padding: 1em 1em;

            div {


                h2 {
                    text-align: center;
                    padding: 2em;
                    margin-top: 0;
                    margin-bottom: 0;
                    color: green;
                }
                
                div {
                    @include outer-container;

                    margin: 0 10%;

                    img {
                        @include span-columns(4);
                        float: left;
                        width: 20%;
                    }

                    p {
                        @include span-columns(8);
                        @include omega();

                        margin-bottom: 10px;
                        margin-top: 0;
                        padding-top: 0 !important;
                        padding-bottom: 3em;
                        padding-left: 3em;
                        color: green;
                    }
                }
            }
        }

         section {
            @include span-columns(6);
        }

    }
}

.faq-soporte {
    background: #ecf0f1;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;

    article {
        @include outer-container;

        section {
            @include span-columns(6);
            @include shift(3);
            padding: 1em 1em;

            div {


                h2 {
                    text-align: center;
                    padding: 2em;
                    margin-top: 0;
                    margin-bottom: 0;
                    color: green;
                }
                
                div {
                    @include outer-container;

                    margin: 0;

                    img {
                        @include span-columns(4);
                        float: left;
                        width: 20%;
                    }

                    p {
                        @include span-columns(8);
                        @include omega();

                        margin-bottom: 10px;
                        margin-top: 0;
                        padding-top: 0 !important;
                        padding-bottom: 3em;
                        padding-left: 3em;
                        color: green;
                    }
                }
            }
        }

         section {
            @include span-columns(6);
        }
    }
}


.quiero-usarlo {
    background: #ecf0f1;

    section {
        @include outer-container;

        div {
            @include span-columns(6);
            @include shift(3);
            
            padding: 3em;
            h1, h2, p {
                text-align: center;
                color: green;
            }

            h2 {
                font-size: 2em;

            }
        }

    }
}

.terms {
    margin: 50px 20%;
}

.footer-container {
    padding: 2em 0;


    footer {
        @include outer-container;
        text-align: center;
        padding: 2em 0;


        div {
            @include span-columns(4);
            @include omega(3n);
            @include media($mobile) {
              @include span-columns(12);
            }

                h2 {
                    color: $velo-gris;
                    font-family: $negritas-font;
                }

                ul, p,  a {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    color: $velo-gris;
                    text-decoration: none;
                }

                a:hover {
                    color: #e44d26;
                }
            }

        div.sup {
            padding: 2em 0;
            @include span-columns(8);
            @include shift(2);

            img {
                max-width: 50%;
                margin: 1em auto;
            }
        }
    }
}

.posts {
    @include outer-container;

    color: black;
    background: $velo-gris;
    margin: 5px 15%;
}



/* ==============
    POSTS: Imagen y Texto
   ============== */

.cards {
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 10%;

  a {
    text-decoration: none;
  }
}

.card {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-margin: 1em;
  $card-image-hover-opacity: 0.7;
  $card-image-hover-color: #F8F2B4;

  background-color: $card-background;
  border: $card-border;
  border-radius: $base-border-radius;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  cursor: pointer;
  flex-basis: 15em;
  flex-grow: 1;
  margin: 0 $card-margin $base-spacing $card-margin;
  position: relative;
  transition: all 0.2s ease-in-out;

  .card-image {
    background-color: $card-image-hover-color;
    height: 350px;
    max-height: 350px;
    overflow: hidden;

    img {
      @include border-top-radius($base-border-radius);
      opacity: 1;
      transition: all 0.2s ease-in-out;
      width: 100%;
    }
  }

  .card-header {
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    transition: all 0.2s ease-in-out;
    color: black;
  }

  .card-copy {
    font-size: 0.9em;
    color: black;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }

  .card-comments {
    h3, h4, p, label {
        color: black;
    }
  }

  &:focus,
  &:hover {
    cursor: pointer;

    img {
      opacity: $card-image-hover-opacity;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}






/* ==============
    INDEX: Seccion Inicio
   ============== */

.device-background {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: 53.75em !default;
  $device-padding-vertical: 5em;
  $device-padding-horizontal: 0.4em;
  $device-screen-width: 14em;
  $device-screen-height: 25em;
  $device-background: darken(gray, 40%);
  $device-backside-background: darken($device-background, 10%);
  $device-text-color: white;
  $device-background-top: #162C4C;
  $device-background-bottom: #0A120D;
  $gradient-angle: 10deg;
  $device-image: $velo-gris;
  $device-screen-image: "https://s3-us-west-2.amazonaws.com/velo-web/images/APP-VELOEXPRESS-2.jpg";

  background: $velo-gris,
              linear-gradient($gradient-angle, $device-background-bottom, $device-background-top),
              no-repeat $device-background-top scroll;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 20em;
  width: 100%;
  margin-top: 160px;

  .device-text {
    padding: 2em;

    @include media($large-screen) {
      float: left;
      max-width: 50%;
      padding: 0 4em 4em 4em;
    }

    h4 {
      border-bottom: 1px solid transparentize($device-text-color, 0.7);
      color: $device-text-color;
      font-size: 1.5em;
      margin: 0 0 0.5em 0;
      padding-bottom: 0.5em;
    }

    p {
      color: $device-text-color;
      line-height: 1.5em;
      margin-bottom: 1.5em;
    }
  }

  .device {
    display: none;
    position: relative;

    @include media($large-screen) {
      background: $device-background;
      border-radius: 2em;
      box-shadow:
        1px 0 lighten($device-backside-background, 20%),
        4px 0 lighten($device-backside-background, 2%),
        7px 0 $device-backside-background,
        10px 0 $device-backside-background,
        13px 0 $device-backside-background;
      display: block;
      float: right;
      margin-bottom: -12em;
      margin-right: 15em;
      padding: $device-padding-vertical 0;
      transform:
        perspective(800px)
        translateX(0)
        translateY(-100px)
        translateZ(50px)
        rotateX(0)
        rotateY(-20deg)
        rotateZ(0)
      ;
      width: $device-screen-width + (2 * $device-padding-horizontal);
      z-index: 99999;

      .screen {
        @include size($device-screen-width $device-screen-height);
        background-image: url($device-screen-image);
        background-size: cover;
        border-radius: 0.2em;
        box-shadow: inset 0 1px 8px transparentize(black, 0.5);
        margin: auto;
      }
    }
  }
}




/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    
    
    font-family: 'BlocC';
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 0.125em;
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: 200;

    color: white;
    background: transparent;
}

nav a:hover {
    color: #e44d26;
}


/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: black;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.fondo-verde {
    background: -moz-linear-gradient(90deg, rgba(64,131,40,1) 0%, rgba(14,60,14,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(14,60,14,1)), color-stop(100%, rgba(64,131,40,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(64,131,40,1) 0%, rgba(14,60,14,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(64,131,40,1) 0%, rgba(14,60,14,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(64,131,40,1) 0%, rgba(14,60,14,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(64,131,40,1) 0%, rgba(14,60,14,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0E3C0E', endColorstr='#408328',GradientType=0 ); /* ie6-9 */
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
    
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



