@mixin green-degrade {
    background: -moz-linear-gradient(90deg, rgba(64,131,40,1) 0%, rgba(14,60,14,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(14,60,14,1)), color-stop(100%, rgba(64,131,40,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(64,131,40,1) 0%, rgba(14,60,14,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(64,131,40,1) 0%, rgba(14,60,14,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(64,131,40,1) 0%, rgba(14,60,14,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(64,131,40,1) 0%, rgba(14,60,14,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0E3C0E', endColorstr='#408328',GradientType=0 ); /* ie6-9 */
}

/* ==============
    INDEX: Seccion Inicio
   ============== */
.head-section {
    @include green-degrade;

    padding-top: 150px;
    padding-bottom: 80px;

    .device-background {
        $base-border-radius: 3px !default;
        $action-color: #477DCA !default;
        $large-screen: 53.75em !default;
        $device-padding-vertical: 5em;
        $device-padding-horizontal: 0.4em;
        $device-screen-width: 14em;
        $device-screen-height: 25em;
        $device-background: darken(gray, 40%);
        $device-backside-background: darken($device-background, 10%);
        $device-text-color: white;
        $device-background-top: #162C4C;
        $device-background-bottom: #0A120D;
        $gradient-angle: 10deg;
        $device-image: $velo-gris;
        $device-screen-image: "https://s3-us-west-2.amazonaws.com/velo-web/images/APP-VELOEXPRESS-2.jpg";

        @mixin image-slider {
            @include size($device-screen-width $device-screen-height);
            background-size: cover;
            border-radius: 0.2em;
            box-shadow: inset 0 1px 8px transparentize(black, 0.5);
            margin: auto;
        }

        min-height: 20em;
        width: 100%;
        margin-top: 35px;

        .device-text {
            padding: 2em;

            @include media($large-screen) {
                float: left;
                max-width: 50%;
                padding: 0 0 0 4em;
                margin-top: -66px;
            }

            h4 {
                border-bottom: 1px solid transparentize($device-text-color, 0.7);
                color: $device-text-color;
                font-size: 1.5em;
                margin: 0 0 0.5em 0;
                padding-bottom: 0.5em;
            }

            ul {
                @include outer-container;

                padding-top: 30px;
                padding-bottom: 30px;
                padding-right: 40px;

                li {
                    @include span-columns(6);

                    font-family: $secondary-font;
                    border: 3px solid green;
                    background-color: black;
                    display: inline;
                    width: 42%;
                    text-align: center;
                    padding: 7px 0 7px 0;
                }

                li.second-btn {
                    float: right;
                }

                a {
                    text-decoration: none;
                    color: white;
                }
            }

            h5 {
                color: white;
                font-size: 3em;
                margin: 10px 0 10px 0;
                font-family: $primary-font;
                line-height: .8em;
            }

            p {
                font-size: 1.1em;
            }

            div.question-paragraph {
                @include outer-container;

                p.question-mark {
                    @include span-columns(2);

                    font-size: 4em;
                    margin: 0;
                    border-right: 1px solid yellow;
                    color: yellow;
                    text-align: center;

                }

                p.question-text {
                    @include span-columns(8);
                    @include omega();

                    color: $device-text-color;
                    line-height: 1.5em;
                    margin: 1.5em;
                    width: 76%;
                }
            }
        }

        .device {
            display: none;
            position: relative;

            @include media($large-screen) {
                background: $device-background;
                border-radius: 2em;
                box-shadow:
                1px 0 lighten($device-backside-background, 20%),
                4px 0 lighten($device-backside-background, 2%),
                7px 0 $device-backside-background,
                10px 0 $device-backside-background,
                13px 0 $device-backside-background;

                display: block;
                float: right;
                margin-bottom: -12em;
                margin-right: 15em;
                padding: $device-padding-vertical 0;
                transform:
                perspective(800px)
                translateX(0)
                translateY(-100px)
                translateZ(50px)
                rotateX(0)
                rotateY(-20deg)
                rotateZ(0)
                ;

                width: $device-screen-width + (2 * $device-padding-horizontal);
                z-index: 99999;



                .screen {
                    @include image-slider;
                    background-image: url($device-screen-image);
                }

                .screentwo {
                    @include image-slider;
                    background-image: url('https://s3-us-west-2.amazonaws.com/velo-web/images/APP-VELOEXPRESS-1.jpg');
                }

                .screenthree {
                    @include image-slider;
                    background-image: url('https://s3-us-west-2.amazonaws.com/velo-web/images/APP-VELOEXPRESS-3.jpg');
                }
            }
        }

        .slick-slider {
            .slick-list {
                margin-left: 4px;
            }
        }
    }
}

@include media(max-width 740px) {
    .head-section {
        padding-top: 0;

        div.device-background {
            margin-top: 0;

            div.device-text {
                h5 {
                    font-size: 2em;
                    text-align: center;
                }

                ul {
                    padding-right: 0;
                    li {
                        @include span-columns(12);
                    }

                    li:last-child {
                        margin-top: 15px;
                    }
                }

                div.question-paragraph {
                    p.question-mark {
                        font-size: 3em;
                        height: 68px;
                        padding-top: 23px;
                    }

                    p.question-text {
                        margin: 0 0 0.5em 0.5em;
                        font-size: 1em;
                    }
                }
            }
        }
    }
}


.device-background {
  @include media(max-width 768px) {
    margin-top: 0;
  }
}






.faq-index {
    background: #ecf0f1;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    margin-top: -60px;

    article{

        @include outer-container;

        section {
            @include span-columns(6);
            padding: 1em 1em;
            margin-bottom: 77px;

            div.chat {
                @include chat;
            }
        }

        @include media(max-width 740px) {
            section {
                width: 100%;

                div.chat {
                    a {
                        div.btn {
                            width: 80%;
                            margin: 0 34px;
                        }
                    }
                }
            }    
        }
    }
}




.iconos-de-confianza {
    background: #ecf0f1;
    width: 100%;

        section {
            @include outer-container;

            div.icons {
                /* Porque este no necesita @include omega(3n)???? */
                @include span-columns(4);

                text-align: center;
                padding: 3em 3em;

                h1, p {
                    color: grey;
                }
            }

            img {
                max-width: 60%;
            }

            div.iconos-header{
                @include span-columns(8);
                @include shift(2);
                padding-top: 2em;
                padding-bottom: 0;
                text-align: center;

                h2 {
                    color: green;
                    font-size: 3em;
                    padding: 0.5em 0;
                }
            }

            @include media(max-width 740px) {
                div.icons {
                    @include span-columns(12);

                    padding: 1em 6em;
                }

                div.iconos-header{
                    @include span-columns(8);
                    @include shift(2);
                    padding-top: 2em;
                    padding-bottom: 0;
                    text-align: center;

                    h2 {
                        font-size: 2em;
                    }
                }
            }
        }
}




.quiero-usarlo {
    background: #ecf0f1;

    section {
        @include outer-container;

        div.quiero-usarlo-container {
            @include span-columns(6);
            @include shift(3);
            
            padding: 3em;

            h1, h2, p {
                text-align: center;
                color: green;
            }

            h2 {
                font-size: 2em;

            }

            a {
                text-decoration: none;

                div.btn {
                    font-family: $secondary-font;
                    border: 3px solid green;
                    background-color: grey;
                    width: 42%;
                    text-align: center;
                    margin: 3% 27%;
                    padding: 0;

                    p {
                        width: 100%;
                        color: $velo-gris;
                        padding-bottom: 0;
                        font-size: 1.3em;
                    }
                }
            }
        }

        @include media(max-width 740px) {
            div.quiero-usarlo-container {
                @include span-columns(12);

                margin: 0;

                a {
                    text-decoration: none;

                    div.btn {
                        width: 100%;
                        margin: 10% 0;

                    }
                }
            }
        }
    }
}
