.header-ciclista {
    @include green-degrade;

	div {
		article {
			section {
				@include outer-container;

				padding-top: 4em;
				margin-bottom: 5em;

				div {
					@include span-columns(6);
					margin-top: 3%;
					padding-left: 2em;

                    ul {
                        @include outer-container;

                        margin: 30px 0;

                        li {
                            @include span-columns(6);

                            font-family: $secondary-font;
                            border: 3px solid green;
                            background-color: black;
                            text-align: center;
                            background-color: black;
                            width: 42%;
                            padding: 7px 0 7px 0;
                        }

                        a {
                            text-decoration: none;
                            color: white;
                        }
                    }

                    h5 {
                        color: white;
                        font-size: 3em;
                        margin: 10px 0 10px 0;
                        font-family: $primary-font;
                        line-height: .8em;
                    }

                    p {
                        margin-right: 60px;
                        font-size: 1.1em;

                    }
				}

				img {
					@include span-columns(6);
				}
			}
		}
	}

    .nav-ciclista {
        ul {
            margin-left: 10%;
        }

        ul, a {
            font-family: $secondary-font;
            text-decoration: none;
            color: #ecf0f1;
            padding-bottom: 1.6em;

            li {
                display: inline;
                padding-right: 2em;
                font-size: 1.2em;
            }
        }

        a:hover {
            color: #e44d26;
        }
    }
}



.perfil-ciclista {
	background: #ecf0f1;

	article {
		@include outer-container;

		header {
			@include span-columns(6);
			@include shift(3);

			text-align: center;
			color: green;
			padding: 3em 0;

			h2 {
				font-size: 2em;
			}

		}

		section {
			@include outer-container;

			h3 {
				@include span-columns(3);

				padding-left: 100px;
			}

			p {
				@include span-columns(3);
				color: grey;
			}

			img {
				@include span-columns(3);				
			}

			ul {
				@include span-columns(3);
                @include omega();

                color: grey;

			}
		}
	}
}

.faq-soy-ciclista {
    background: #ecf0f1;
   
    section {
        @include outer-container;

        padding: 1em 1em;

        div.chat {
            margin: 0 20% 70px 20%;
            
            @include chat;
        }
    }

    section.como-usar-la-app {
        @include outer-container;

        padding-bottom: 65px;

        img {
            @include span-columns(6);
            @include shift(3);

            width: 20%;
            margin-left: 39.5%
        }

        div {
            @include span-columns(6);
            @include shift(3);

            h2 {
                padding-bottom: 0;
                text-align: center;
            }
            
            p {
                margin: 0 15%;
                padding: 0;
                text-align: center;
            }
        }
    }
}

.iconos-de-confianza-ciclista {
    background: #ecf0f1;
    width: 100%;

        section {
            @include outer-container;

            div {
                /* Porque este no necesita @include omega(3n)???? */
                @include span-columns(4);

                text-align: center;
                padding: 3em 3em;

                h2 {
                    color: green;
                    font-size: 3em;
                    padding: 0.5em 0;
                }

                h1, p {
                    color: grey;
                }
            }

            img {
                max-width: 60%;
            }

            div.iconos-header{
                @include span-columns(8);
                @include shift(2);
                padding-top: 2em;
                padding-bottom: 0;
                text-align: center;
            }
        }
}

.como-usar-la-app {
    background: #ecf0f1;

    article {
        @include outer-container;
        padding: 45px 5px; 


        header {
            @include span-columns(6);
            @include shift(3);

            border-top: 3px solid grey;
            padding: 30px 0;

            text-align: center;

            h2, h4 {
                padding: 0;
                color: grey;
            }

            div {
                margin: 0 0;
                padding: 30px 0;
            }
        }



        section {
            @include outer-container;
            div {
                @include span-columns(4);
                @include omega(3n);

                h3, p {
                    text-align: center;
                    color: grey;
                }
            }
            img {
                width: 80%;
                margin: 0 10%;
            }
        }

        footer {
            text-align: center;
            padding-top: 30px;
        }
    }

    article.eso-fue-todo {
        @include outer-container;
        background: #ecf0f1;


        header {
            @include span-columns(6);
            @include shift(3);

            text-align: center;

            h4 {
                padding: 0;
            }
        }

        section {
            @include outer-container;

            margin: 0 20%;

            div {
                @include span-columns(6);
                @include omega();

            }
            img {
                width: 80%;
            }
        }
    }
}


.faq-soporte {
    article {
        section {
            div.chat {
                @include chat;
            }
        }
    }
}
